.NumValues{
    text-shadow: gray 1px 1px;
}
.currency, #farm, #Shop{
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    min-width: fit-content;
    width: 20ch;
}
#farm{
    border-color: darkgoldenrod!important;
    border-style: dashed!important;
}
#Shop{
    border-color: darkblue!important;
    border-style: dashed!important;
    float: right;
    width: 40ch;
    min-height: fit-content;
    height: 60ch;
}
.currency, .buyStuff{ margin-bottom: 1ch;}
#dialog{
    padding: 0 0 1ch 0;
}
#close{
    color: red;
    cursor: crosshair;
    margin: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    text-align: end;
}
#Message{
    margin-left: 1ch;
    margin-right: 1ch;
}
body{
    padding: 2ch;
}
#title {
    float: right;
    text-align: end;
}