.NumValues {
    text-shadow: gray 1px 1px;
}

.currency, #farm, #Shop {
    border-color: darkgreen;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    min-width: fit-content;
    width: 20ch;
}

#farm {
    border-color: darkgoldenrod !important;
    border-style: dashed !important;
}

#Shop {
    border-color: darkblue !important;
    border-style: dashed !important;
    float: right;
    width: 40ch;
    min-height: fit-content;
    height: 60ch;
}

.currency, .buyStuff {
    margin-bottom: 1ch;
}

#dialog {
    padding: 0 0 1ch 0;
}

#close, .boxTitle {
    margin: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
details{
    margin: 1ch;
    padding: 1ch;
    border-color: darkcyan;
    border-style: dotted;
    border-width: 2px;
    border-radius: 3ch;
}
#close {
    text-align: end;
    color: red;
    cursor: crosshair;
}

#Message {
    margin-left: 1ch;
    margin-right: 1ch;
}

body {
    padding: 2ch;
}

#title {
    float: right;
    text-align: end;
}